/* My Custom CSS 
/* color hex codes 
#FDFBFF- off white
#3A2A66- dark purple
#C5B8FD- lavender


*/


@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');
/*sans-serif*/


/* universal selector*/

* {
    box-sizing: border-box;
    box-sizing: inherit;
    list-style: none;
    font-family: kelvinch; 


    }


/* Nav Styles*/
.nav{
    text-align: center;}
        
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    background-color: #FDFBFF;
    justify-content: center;

}

ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    width: 100%;
}

ul li a:hover {
  background-color: #FDFBFF;
    }
      

/* Div for about winona*/

div. col{
    padding top: 15px;
    padding bottom: 15px; 
  
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

img {
    vertical-align: middle;
    border-radius: 6px;
    margin: auto;
    display: block;
    padding: 0px;
}

/* Link Styles*/

a:link, a:visited {
    color: #3A2A66;
}
a:focus, a:hover, a:active {
    color:#C5B8FD;
}


a{text-decoration: none;}

/* Header Styles*/

h1{font-family:kelvinch;}
h2{font-family:kelvinch;}
h3{font-family:kelvinch;}


body{
    background-color: #C5B8FD;
    padding-top: 25px;
    font-family: roboto;
    margin: auto;
    text-align: center;
    }

div .row{
   
    padding-right: 15px;
    padding-bottom: 15px;/* affects the footer */
    height: 300px;
    width: auto; 
}
    
.brand row{
    text-align: left;
    
}

.col{
    width: 100%;
    height: 100%;
    }


form{
    background-color: #3A2A66;
    border: auto;
    font-size: 16px;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 16px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    max-width: inherit;
    max-height: inherit;
}


.responsive-form {
    background-color: #3A2A66;
    max-width: auto;
    padding-right: 15px;
    width: 100%;
    border-radius: 6px;
    background-color:#FDFBFF;
    padding: 20px;
  
}


iframe{
    border-radius: 6px;
}

label {
  min-width: 48%;
  margin-bottom: 10px;
}

input[type=text], select {
  min-width: 45%;
  margin-bottom: 10px;
  border: 1px solid #3A2A66;
  border-radius: 4px;
  padding: 10px;
}

textarea {
  min-width: 45%;
  height: 150px;
  margin-bottom: 10px;
  border: 1px solid #3A2A66;
  border-radius: 4px;
  padding: 10px;
}

input[type=submit] {
  width: 20%;
  background-color:#C5B8FD;
  color: #3A2A66;
  padding: 14px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  label,
  input[type=text],
  input[type=submit],
  select, textarea {
    flex: 100%;
    min-width: 100%;
  }
}

.donate btn{
    background-color: #3A2A66;
    border-radius:4px;
    
    
}

/* Footer Style*/

.footer-socials{
    color: #3A2A66;
    background-color:#FDFBFF;
    text-align: center;
    font-size:15px; 
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    display: flex;
    float: center;
}